:root {
  /* Color variables */
  --color-primary: black;
  --color-secondary: darkorange;
  --color-txt-primary: #606060;
  --color-txt-secondary: snow;

  /* Font size variables */
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 24px;

  --font-size-title-phablet: 45px;
  --font-size-title-tablet: 60px;
  --font-size-title-desktop: 80px;
  --font-size-title-big-desktop: 100px;

  --section-heading-font-size-sm: 35px;
  --section-heading-font-size-md: 45px;
  --section-heading-font-size-lg: 60px;
}

body {
  overflow-y: hidden;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0.01;
  transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fadeup-enter-active,
.fadeup-leave-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fadeup-enter,
.fadeup-leave-to {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fadedown-enter-active,
.fadedown-leave-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fadedown-enter,
.fadedown-leave-to {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
